/* SearchBar.css */

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 16px;
 /* background-image: url('./images/searchbackground.jpeg'); *?/ /* Adjust the path accordingly */
  background-size: cover; /* Cover the entire container */
  background-position: left; /* Adjust as needed, e.g., left, right, top, bottom */
  padding: 150px; /* Adjust padding as needed */
  width: 100%; /* Set the width to 100% */
  box-sizing: border-box; /* Include padding and border in the width */
}
.search-input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}
.search-button:hover {
  background-color: #0056b3;
}