/* SearchBar.css */
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .login-bar {
    display: flex;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    align-items: center;
    margin-bottom: 16px;
  }
  .search-input {
    flex: 1;
    padding: 8px;
  }
  
  .search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
  }
  